a {
    color:  #448AFF;
    margin: 10px;
    padding: 8px;
    -webkit-user-select: none;
    text-decoration: none;
}

a:active {
    background-color: #424242;
}

a:hover {
    cursor: pointer;
    border-bottom: 2px solid #448AFF;
}

body {
    background-color: #303030;
    color: #ffffff;
    font-family: monospace;
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

button {
    background-color: #424242;
    color: #448AFF;
    border: 1px solid #448AFF;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px #101010;
}

button:disabled {
    background-color: #a5a5a5;
    border: 1px solid #636363;
    color: #636363;
    cursor: not-allowed;
}

button:disabled:hover {
    box-shadow: none;
}

button:focus {
    outline: none;
}

canvas {
    background-color: #ffffff;
    float: left;
    
    border: 2px solid #448AFF;
    border-radius: 20px 20px 0 0;
    margin: 10px;
    padding: 20px;
}

h2, h3 {
    margin-top: 0;
}

input { 
    border: 0px;
    padding: 5px;
}

input:disabled {
    background-color: #cccccc;
    color: #666666;
}

input[type='range'] {
    background-color: #424242;
    margin: 0;
    padding: 0px;
    -webkit-appearance: none;
    width: 65%;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: #005ecb;
    border: 1px solid #005ecb;
    border-radius: 5px;
    height: 5px;
    text-align: center;
    width: 100%;
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
    border: 1px solid #448AFF;
    border-radius: 8px;
    background-color: #448AFF;
    height: 15px;
    margin-top: -6px;
    width: 15px;
    -webkit-appearance: none;
}

input[type='range']:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    border: 0;
}

input[type='range']:focus::-webkit-slider-thumb {
    border: 0;
}

/* Firefox Support */
input[type=range]::-moz-range-track {
    background-color: #005ecb;
    border: 1px solid #005ecb;
    border-radius: 5px;
    height: 5px;
    text-align: center;
    width: 100%;
    -webkit-appearance: none;
}

input[type='range']::-moz-range-thumb {
    border: 1px solid #448AFF;
    border-radius: 8px;
    background-color: #448AFF;
    height: 15px;
    margin-top: -6px;
    width: 15px;
    -webkit-appearance: none;
}
/* End Firefox Support */

td {
    padding: 10px;
}

#blue-bar {
    color: #448AFF;
}

.button-group {
    border: 1px solid #448AFF;
    border-radius: 5px;
    height: 20px;
    padding: 3px 5px;
    position: absolute;
    right: 20px;
    top: 4px;
}

.button-group > button {
    background-color: inherit;
    border: none;
    color: #ffff44;
    position: relative;
    top: -4px;
}

.button-group > button:disabled {
    color : "#636363";
}

.button-group > button:hover {
    box-shadow: none;
}

.button-group-button {
    background-color: inherit;
}

.rgb-range {
    text-align: right;
}

.section {
    background-color: #424242;
    border: 2px solid #448AFF;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    /*box-shadow: 5px 5px 5px 5px #212121;*/
}

#dark-mode-switch {
    height: 25px;
    width: 75px;
}

#debug {
    background-color: #212121;
    color: #44ff8a;
    padding: 5px;
}

#debug h3 {
    padding: 0px;
}

#debug h2 {
    padding-left: 10px;
}

#left-side {
    left: 10px;
    position: absolute;
}

#select-mode-disabled {
    background-color: #a5a5a5;
    border: 1px solid #636363;
    color: #636363;
}

#select-mode-enabled {
    background-color: #424242;
    color: #448AFF;
    border: 1px solid #448AFF;
}

#shape-sides-range {
    width: 54%;
}

#toolbar {
    background-color: #212121;
    margin: 0px;
    padding: 10px;
    width: 100%;
}

#tools {
    position: absolute;
    right: 10px;
    width: 50%;
}

#tools-shape-parameters td {
    width: 30%;
}